* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  margin-inline: auto;
}

html {
  overflow: hidden;
}

h2,
h3,
h4 {
  cursor: default;
}

p {
  cursor: default;
}

/* Gaya scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

/* Gaya thumb (bagian yang dapat digerakkan) scrollbar */
body::-webkit-scrollbar-thumb {
  background-color: #9b7653;
  border-radius: 6px;
}

/* Gaya saat thumb dihover */
body::-webkit-scrollbar-thumb:hover {
  background-color: #634a32;
}

/* Gaya track (area di sekitar thumb) scrollbar */
body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Gaya corner (sudut) scrollbar */
body::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

@media screen and (max-width: 767px) {
  body::-webkit-scrollbar {
    display: none;
  }
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)), url("img/mockup-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Bagian Navbar */
.navbar {
  padding: 20px 0 20px 0;
  position: fixed;
  width: 100%;
  transition: all 0.3s ease;
  z-index: 3;
}

.navbar.scrolling-active {
  background-color: #9b7653;
  padding: 20px 0 20px 0;
}

.navbar.scrolling-active .box-navbar .menu li a:hover {
  color: #000;
}

.navbar .box-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .box-navbar .logo img {
  width: 50px;
  transition: transform 0.6s ease-in-out;
}
.navbar .box-navbar .logo img:hover {
  transform: scale(1.1);
}

.navbar .box-navbar .menu {
  display: flex;
  column-gap: 20px;
}

.navbar .box-navbar .menu li {
  list-style-type: none;
}

.navbar .box-navbar .menu li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px 10px 15px;
}

.navbar .box-navbar .menu .active a {
  background-color: #9b7653;
  border-radius: 10px;
  height: 50px;
}

.navbar .box-navbar .menu li a:hover {
  background-color: #9b7653;
  transition: all ease 0.5s;
}

.menu-bar {
  color: #fff;
  font-size: 24px;
  display: none;
}

@media screen and (max-width: 990px) {
  .menu-bar {
    display: inline-block;
  }

  .navbar .box-navbar .menu {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 270px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    top: 70px;
    right: 50%;
    opacity: 0;
    transform: translateX(50%);
    transition: all 0.3s ease;
    background-color: #9b7653;
    margin-top: 1rem;
  }

  .navbar .box-navbar .menu.menu-active {
    top: 80px;
    border-top: 1px solid #fff;
    opacity: 1;
  }

  .hero .box-hero .box:nth-child(1) p {
    font-size: 13px;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
}

.loader div {
  width: 50px;
  height: 50px;
  border: 5px solid rgb(0, 0, 0);
  border-top: 5px solid #cc9562;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Bagian Hero */
.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.hero .box-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 50px;
}

.hero .box-hero .box:nth-child(1) h1 {
  color: #fff;
  font-size: 3vw;
  line-height: 1.3;
  margin-bottom: 20px;
  cursor: default;
}

.hero .box-hero .box:nth-child(1) p {
  line-height: 2;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  cursor: default;
}

.hero .box-hero .box:nth-child(1) button {
  width: 180px;
  height: 50px;
  background-color: #9b7653;
  font-weight: bold;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease;
}

.hero .box-hero .box:nth-child(1) button:hover {
  background-color: #fff;
  color: #9b7653;
  border: 1px solid #9b7653;
}

.hero .box-hero .box:nth-child(2) img {
  width: 100%;
  border-radius: 30px;
  transition: transform 0.6s ease-in-out;
  z-index: 1;
}

.hero .box-hero .box:nth-child(2) img:hover {
  transform: scale(1.1);
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .hero .box-hero .box:nth-child(1) button {
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .hero .box-hero {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
  }
  .hero .box-hero .box:nth-child(1) {
    order: 2;
    text-align: center;
  }

  .hero .box-hero .box:nth-child(1) h1 {
    font-size: 25px;
  }

  .hero .box-hero .box:nth-child(2) {
    order: 1;
    text-align: center;
    margin-top: 60px;
  }

  /* .hero .box-hero .box:nth-child(2) img {
        animation: none;
    } */
}

@media screen and(max-width: 370px) {
  .hero .box-hero .box:nth-child(2) {
    width: 55vw;
    align-self: flex-end;
    justify-self: center;
  }
}

/* About Section */
.about {
  padding: 8rem 7% 1.4rem;
  background-color: rgb(8, 8, 8);
}

.about h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  color: #9b7653;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 65%;
  height: 90%;
  border-radius: 1rem;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #634a32;
  cursor: default;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
  color: #fff;
}

.about p {
  padding-top: 1rem;
  font-size: large;
  font-weight: bolder;
  font-family: sans-serif;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .about h2 {
    font-size: 2.5rem;
  }
  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img {
    display: flex;
    justify-content: center; /* Mengatur horizontal centering */
    align-items: center; /* Mengatur vertical centering */
    text-align: center;
    padding: 1rem; /* Menambahkan ruang di sekitar gambar */
  }

  .about .row .about-img img {
    height: 24rem;
    width: 24rem;
    max-width: 100%; /* Agar gambar tidak melebihi lebar container */
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
}

/* Services CSS */
.services {
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  background-color: rgb(8, 8, 8);
  padding: 100px 0 50px 0;
}

.services .box-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 50px;
}

.services .box-services .box {
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px #9b7653;
  color: #fff;
  padding: 20px; /* Tambahkan nilai padding sesuai preferensi Anda */
  transition: all 0.3s ease;
  cursor: default;
}

.services .box-services .box i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #9b7653;
}

.services .box-services .box p {
  font-weight: 100;
  margin-top: 5px;
}



.footer-bottom {
  background: #000;
  padding-block: 20px;
}

.copyright {
  text-align: center;
  color: #fff;
}

.copyright-link {
  display: inline-block;
  color: #9b7653;
}

.footer-bottom a {
    text-decoration: none;
    transition: all .3s ease;
}

.footer-bottom a:hover {
    color: #634a32;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer-bottom .footer-container p,a {
    font-size: 14px;
  }
}

.go-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #000;
  color: #9b7653;
  font-size: 20px;
  padding: 10px;
  border: 4px solid #9b7653;
  border-radius: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s ease;
  z-index: 2;
}

.go-top-btn ion-icon {
  font-size: 23px;
  font-weight: 400;
}

.go-top-btn.active {
  opacity: 1;
  visibility: visible;
}

.go-top-btn:hover {
  border: 4px solid #634a32;
  color: #634a32;
}



/* Menu Section */

.menu h2 {
  text-align: center;
  font-size: 3rem;
  padding-top: 4rem;
}
.menu p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
  font-style: italic;
}

.menu h4 {
  text-align: center;
  max-width: 40rem;
  margin: auto;
  font-size: 1.5rem;
  font-style: oblique;
  cursor: default;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  padding-bottom: 4rem;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
  font-size: medium;
  transition: 1s;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 50%;
  margin-bottom: 1rem;
  transition: 1s ease all;
  cursor: pointer;
}

.menu .row .menu-card img:hover {
  transform: scale(1.1);
  z-index: 2;
}

.menu .row .menu-card-title {
  margin: 1rem auto 0.5rem;
  color: var(--primary);
}

#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  
}

#popup.active {
  display: flex;
  transition: all .3s ease;
}

#popup-content {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 90%;
}

#close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popup-card {
  margin-top: 20px;
}

#popup-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#shopee-link {
  display: inline-block;
  background-color: #9b7653;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  text-decoration: none;
}

#shopee-link:hover {
  background-color: #7e5c3e;
}

/* Responsiveness */
@media (max-width: 768px) {
  #popup-content {
    padding: 10px;
  }

  #shopee-link {
    padding: 8px 15px;
  }

  #close-popup {
    top: 5px;
    right: 5px;
    font-size: 18px;
  }

  .popup-card {
    margin-top: 10px;
  }

  #popup-title {
    font-size: 1.2rem;
  }
  .menu h2 {
    text-align: center;
    font-size: 2.5rem;
  }
}


.testimoni-container {
  display: flex;
  /* width: 100%; */
  flex-direction: column; /* Mengatur tata letak konten ke tata letak kolom */
  align-items: center;
  justify-content: center;
  background-color: rgb(8, 8, 8);
  padding: 40px 0; /* Menambahkan padding sesuai kebutuhan */
  text-align: center; /* Menengahkan teks */
}

.testimoni-container .testimoni-title h2 {
  font-size: 3rem;
  padding-bottom: 4rem; /* Mengurangi margin agar tidak terlalu jauh dari konten */
  color: #9b7653;
  padding-top: 10rem;
}

.testimoni-container .testimoni-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
  padding-bottom: 3rem;
}

.testimoni-container .card {
  border-radius: 25px;
  background-color: #fff;
}

.testimoni-container .image-content,
.testimoni-container .card-content {
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimoni-container .image-content {
  row-gap: 5px;
  padding: 25px 0;
  position: relative;
}

.testimoni-container .card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 0 auto; /* Mengatur gambar menjadi tengah */
  padding: 3px;
}

.testimoni-container .card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #634a32;
}

.testimoni-container .card-content .name {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin-bottom: 1rem;
}

.testimoni-container .card-content .desc {
  font-size: 16px;
  color: #2b2b2b;
  margin-bottom: 1rem;
  text-align: center;
}

.testimoni-container .card-content .button {
  border: 1px solid #9b7653;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #9b7653;
  border-radius: 6px;
  margin: 11px;
  cursor: pointer;
  transition: 0.3s all ease;
}

.testimoni-container .card-content .button:hover {
  color: #9b7653;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #9b7653;
}

.testimoni-container .image-content .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #9b7653;
  border-radius: 25px 25px 0 25px;
}

.testimoni-container .image-content .overlay::before,
.testimoni-container .image-content .overlay::after {
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  right: 0;
  bottom: -40px;
  background-color: #9b7653;
}

.testimoni-container .image-content .overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}

.testimoni-container .swiper-navBtn {
  color: #634a32;
  transition: color 0.3s ease;
  padding-top: 7rem;
}

.testimoni-container .swiper-navBtn:hover {
  color: #9b7653;
}

.testimoni-container .swiper-navBtn::before,
.testimoni-container .swiper-navBtn::after {
  font-size: 40px;
}

.testimoni-container .swiper-button-next {
  right: 0;
}

.testimoni-container .swiper-button-prev {
  left: 0;
}

.testimoni-container .swiper-pagination-bullet {
  background-color: #7e5c3e;
  opacity: 1;
}

.testimoni-container .swiper-pagination-bullet-active {
  background-color: #634a32;
}

@media screen and (max-width: 768px) {
  .testimoni-container .testimoni-title h2 {
    font-size: 2.5rem;
    padding-top: 3rem;
  }
  .testimoni-container .swiper-navBtn {
    display: none;
  }
  .testimoni-container .testimoni-content {
    margin: 0 10px;
  }
}



/* Team CSS */
.team-section {
  padding: 80px 0;
}

.team-section .team-container {
  margin: auto;
}

.team-section .team-container .team-title-inner h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 7rem;
  cursor: default;
  padding-top: 3rem;
}

.team-section .team-container .team-row {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  justify-content: center;
}

.team-section .team-container .team-row .team-item {
  flex: 0 0 calc(50% - 20px); /* Adjusted for margin */
  max-width: calc(50% - 20px);
  margin: 10px; /* Add margin between items */
  align-items: center;
  display: flex;
  justify-content: center;
}

.team-section .team-container .team-row .team-item .team-item-inner {
  background-color: #ccc;
  padding: 15px;
  box-shadow: 0 0 10px #000;
  text-align: center; /* Center text for mobile */
}

.team-section .team-container .team-row .team-item .team-item-inner img {
  width: 250px;
  height: 250px;
  box-shadow: 0 0 10px #000;
  margin-top: -40px;
  transition: all 0.5s ease;
}

.team-section .team-container .team-row .team-item .team-item-inner:hover img {
  transform: scale(0.95);
}

.team-section .team-container .team-row .team-item .team-item-inner h4 {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  margin: 20px 0 5px;
}

.team-section .team-container .team-row .team-item .team-item-inner p {
  color: #2b2b2b;
  font-size: 16px;
  margin: 0 0 10px;
}

.team-section .team-container .team-row .team-item .team-item-inner .social-links {
  text-align: center;
  padding: 10px 0;
}

.team-section .team-container .team-row .team-item .team-item-inner #dospem {
  display: none;
}

.team-section .team-container .team-row .team-item .team-item-inner .social-links a {
  display: inline-block;
  margin: 0 3px;
  text-decoration: none;
}

.team-section .team-container .team-row .team-item .team-item-inner .social-links a i {
  height: 32px;
  width: 32px;
  border: 1px solid #634a32;
  display: block;
  text-align: center;
  line-height: 32px;
  color: #634a32;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.team-section .team-container .team-row .team-item .team-item-inner .social-links a:hover i {
  background-color: #634a32;
  color: #fff;
}

/* Media Query for Mobile */
@media screen and (max-width: 767px) {
  .team-section .team-container .team-row .team-item {
    flex: 0 0 100%; /* Full width on mobile */
    max-width: 100%;
  }

  .team-section .team-container .team-row .team-item #ketua {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
}


/* Stil default untuk perangkat selain mobile */
.team-section-2 {
  padding: 80px 0 80px;
}

.team-section-2 .team-container-2 .team-title-inner-2 h2 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 6rem;
  padding-top: 2rem;
  cursor: default;
}

.team-section-2 .team-container-2 .team-row-2 {
  display: flex;
  justify-content: center;
}

.team-section-2 .team-container-2 .team-row-2 .team-item-2 {
  flex: 0 0 25%;
  max-width: 25%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding-bottom: 10rem;
}

.team-section-2 .team-container-2 .team-row-2 .team-item-2 .team-item-inner-2 {
  background-color: #ccc;
  padding: 15px;
  box-shadow: 0 0 10px #000;
}

.team-section-2 .team-container-2 .team-row-2 .team-item-2 .team-item-inner-2 img {
  width: 250px;
  height: 250px;
  box-shadow: 0 0 10px #000;
  margin-top: -40px;
  transition: all .5s ease;
}

.team-section-2 .team-container-2 .team-row-2 .team-item-2 .team-item-inner-2:hover img {
  transform: scale(0.95);
}

.team-section-2 .team-container-2 .team-row-2 .team-item-2 .team-item-inner-2 h4 {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  margin: 20px 0 5px;
  text-align: center;
}

.team-section-2 .team-container-2 .team-row-2 .team-item-2 .team-item-inner-2 p {
  color: #2b2b2b;
  font-size: 16px;
  margin: 0 0 10px;
  text-align: center;
}

.team-section-2 .team-container-2 .team-row-2 .team-item-2 .team-item-inner-2 .social-links-2 {
  text-align: center;
  padding: 10px 0;
}

.team-section-2 .team-container-2 .team-row-2 .team-item-2 .team-item-inner-2 .social-links-2 a {
  display: inline-block;
  margin: 0 3px;
  text-decoration: none;
}

.team-section-2 .team-container-2 .team-row-2 .team-item-2 .team-item-inner-2 .social-links-2 a i {
  height: 32px;
  width: 32px;
  border: 1px solid #634a32;
  display: block;
  text-align: center;
  line-height: 32px;
  color: #634a32;
  border-radius: 50%;
  transition: all .5s ease;
}

.team-section-2 .team-container-2 .team-row-2 .team-item-2 .team-item-inner-2 .social-links-2 a:hover i {
  background-color: #634a32;
  color: #fff;
}

/* Media query untuk perangkat mobile dengan lebar maksimum 768px */
@media screen and (max-width: 768px) {
  .team-section-2 .team-container-2 .team-row-2 {
    flex-wrap: wrap; /* Mengatur item tim agar wrap ke bawah pada perangkat mobile */
    justify-content: flex-start; /* Mengatur item tim agar dimulai dari kiri pada perangkat mobile */
  }

  .team-section-2 .team-container-2 .team-row-2 .team-item-2 {
    flex-basis: 100%; /* Mengatur lebar item tim menjadi 50% pada perangkat mobile */
    max-width: 100%;
    margin-bottom: 4rem;
  }
}


/* Contact Section */

.contact {
  padding: 8rem 7% 1.4rem;
  background-color: rgb(8, 8, 8);
  padding-bottom: 10rem;
}
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
  border-radius: 5px;
  border: 3px solid #634a32;
}

.contact h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #fff;
}

.contact h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  margin-top: 3rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 3px solid #634a32;
  padding-left: 2rem;
  border-radius: 1rem;
}

.contact .row form .input-group i {
  font-size: 60px;
  color: #ccc;
}

.contact .row form .input-group a {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
  text-decoration: none;
}

.contact .row form #wa {
  transition: all .5s ease;
}

.contact .row form #wa i {
  color: #25d366;
}

.contact .row form #wa a {
  color: #25d366;
}

.contact .row form #wa:hover {
  background-color: #000;
}

.contact .row form #ig {
  transition: all .5s ease;
}

.contact .row form #ig i {
  color: #bc2a8d;
}

.contact .row form #ig a {
  color: #bc2a8d;
}

.contact .row form #ig:hover {
  background-color: #000;
}

@media (max-width: 768px) {
  .contact h2 {
    font-size: 2.5rem;
    padding-top: 3rem;
  }
  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
  .contact .row form .input-group i {
    font-size: 40px;
  }

  .contact .row form .input-group a {
    font-size: 20px;
  }
}
